@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #27ce3a;
  --color-secondary: #82dff0;
  --color-secondary: ##7c87cf;

}

html {
  scroll-behavior: smooth;
}